@font-face {
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
    font-family: 'Open Sans';
}

body {
    font-family: 'Open Sans';
    background-color: #2b2828;
    color: #d3d3d3;
}

a {
    color: #d3d3d3;
    transition: .3s;
}

a:hover {
    color: #1c8a76;
    text-decoration: underline;
}

#photo {
    border-radius: 10px;
}